<div class="mw7 center ph3 pv4">
	<div class="flex flex-wrap mhn1">
		<div class="w-100 w-third-ns ph1-ns">
			<a href=".image1.link"> 
                <img src="{{ .image1.image }}" alt="{{ .image1.alt }}">
            </a>
		</div>

		<div class="w-100 w-third-ns ph1-ns">
            <a href=".image2.link">
                <img src="{{ .image2.image }}" alt="{{ .image2.alt }}">
            </a>
		</div>

		<div class="w-100 w-third-ns ph1-ns">
			<a href=".image3.link">
                <img src="{{ .image3.image }}" alt="{{ .image3.alt }}">
            </a>
		</div>
	</div>

</div>