<div class="bg-grey-1">
	<div class="vh-100-ns w-100-ns center flex-ns flex-column-ns justify-center-ns">
		<div class="bg-off-white w-100-ns pv4 ph3 mb3 ">
			<div class="center w-100-ns flex-ns mhn1-ns mw7"> 
			<div class="w-third-ns ph2-ns">
				<img src="img/home-author-photo.jpg" alt="" class="mb3">
			</div>
            <div class="w-two-thirds-ns ph2-ns">
				<h1 class="f4-ns lh-copy-ns"><span class="f3-ns lh-copy-ns">{{.bigText}}</span>{{.para1}}</h1>
			</div>
		</div>
		<div class="tc">
			<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
		</div>
		</div>
	</div>
</div>
