<div class="pv4" style="background: url(paper-texture-3.jpg) center center; background-size: cover;">
	<div class="vh-100-ns w-100-ns ph3 mw7 center flex-ns flex-column-ns items-center-ns justify-center-ns">
		<div class="w-100 flex-ns mhn1-ns mb3"> 
			<div class="w-third-ns ph2-ns">
				<img src="img/home-author-photo.jpg" alt="" class="mb3">
			</div>
            <div class="w-two-thirds-ns ph2-ns">
				<h1 class="f3 lh-copy-ns">{{.para1}}</h1>
			</div>
		</div>
		<div class="tc">
			<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
		</div>

	</div>
</div>
