<div class="bg-grey-1 pv4">
	<div class="vh-100 ph3 mw7 center">

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3"> 
			<div class="w-third ph2-l">
				<img src="img/home-author-photo.jpg" alt="" class="mb3">
			</div>
            <div class="w-two-thirds ph2-l">
				<p class="p indent">{{.para1}}</p>
				<p class="p indent">{{.para2}}</p>
				<p class="p indent">{{.para3}}</p>
				<p class="p indent">{{.para4}}</p>
			</div>
		</div>

		<div class="tc">
			<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
		</div>

	</div>
</div>
